{% extends 'ecom/core/homebase.html' %}
{% load static %}
{% block content %}
<br><br><br>

<style>
    .message-box {
        width: 420px; /* Độ rộng của khung */
        margin: 0 auto; /* Căn giữa khung trên màn hình */
        background-color: #f0f0f0;
        padding: 20px;
        margin-top: 50px;
        text-align: center;
        border: 2px solid #009900;
        color: #009900;
        font-size: 23px;
        
    }
</style>
<div class="message-box">
    Đã đăng ký tài khoản thành công 
</div>
<br><br><br><br><br>
<br><br><br><br><br>
<br><br><br>


{% endblock content %}
